<div class="container">
  <div class="row">
    <div class="col-md-6">
      <p class="head text-center">
        Welcome to <span class="brand">List IT</span>
      </p>
      <p class="paragraph">
        This app can be a lifesaver for busy people who have a lot on their
        plates. With so many tasks to juggle, it's easy to forget important
        deadlines, meetings, or appointments. That's where a reminder app comes
        in.
      </p>
      <div class="d-flex justify-content-center btn-section">
        <button><a routerLink="login">Login</a></button>
        <button><a routerLink="register">Sign Up</a></button>
      </div>
    </div>
    <div class="col-md-6 welcome d-flex justify-content-center">
      <img src="../../../assets/welcome.svg" />
    </div>
  </div>
</div>
