<section class="intro vh-100">
    <div class="bg-image h-100" style="background-image: url(https://mdbootstrap.com/img/Photos/new-templates/glassmorphism-article/img7.jpg);">
      <div class="mask pt-5">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-12 card-container text-center">
              <div class="card mask-custom">
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table table-borderless text-white mb-0">
                      <thead>
                        <tr>
                          <th scope="col">REMINDER</th>
                          <th scope="col">DATE</th>
                          <th scope="col">TIME</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let i of reminders">
                          <td>{{i.reminder}}</td>
                          <td>{{i.date}}</td>
                          <td>{{i.time}}</td>
                        </tr>
                        
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <a href="/dashboard">Back to dashboard</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>