@import "../../../custom-styles/mixins.scss";

@include buttonStyle;
@include dividerStyle;
section{
  height: 84vh;
}
.h-custom {
  height: calc(100% - 73px);
}
@media (max-width: 450px) {
  .h-custom {
    height: 100%;
  }
}
