@mixin flexCentered($direction) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}

@mixin buttonStyle {
  button {
    border: none;
    outline: none;
    border-radius: 0.5rem;
    background-color: rgba(0, 0, 0, 0.404);
    box-shadow: inset 0px 10px 14px black, 0px -1px 1px whitesmoke;
    padding: 0.3rem 0.5rem;
    &:hover {
      background-color: rgba(228, 110, 218, 0.774);
      box-shadow: inset 0px 10px 14px rgb(188, 92, 207), 0px -1px 1px whitesmoke;
    }
  }
}

@mixin dividerStyle {
  .divider:after,
  .divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
  }
}

@mixin inputField {
  outline: none;
  border: 1px solid #000;
      &:hover,
      &:active,
      &:focus {
        border: 2px solid $main-bg-color;
      }
}

@mixin dateAndTimeInput{
  padding: .6rem;
  background-color: $main-bg-color;
  font-family: 'Roboto Mono', monospace;
  color: $white;
  font-size: 1rem;
  outline: none;
  border: none;
  border-radius: .4rem;
  &::-webkit-calendar-picker-indicator {
      background-color: $white;
      margin-right: 5px;
      cursor: pointer;
      border-radius: 3px;
  }
}
@mixin btnHoverOne{
  background: $main-bg-color;
  color: $white;
  border: none;
  transition: 0.3s;
}